@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-stroke {
    -webkit-text-stroke-width: var(--tw-text-stroke-width);
    -webkit-text-stroke-color: var(--tw-text-stroke-color);
  }
}

/*скрытие скроллбара*/
@layer utilities {
  /* для Chrome, Safari, Opera и пр.*/
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* для IE, Edge и Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE и Edge */
    scrollbar-width: none; /* Firefox */
  }
}

/*применение стиля без скроллабара для всех страниц*/
html,
body,
main {
  @apply no-scrollbar;
}

p,
span,
h1,
h2,
h3 {
  cursor: default;
}

* {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
}
